{% trans_default_domain 'ProfileApplication' %}

<div class="row">
  <div class="col-md-6 col-md-push-3">
    <div class="well well-sm">
      {{ form_start(form) }}
      {{ form_widget(form) }}
      <hr>
      <button class="btn btn-default btn-primary btn-block" type="submit">{{ button_label|default('Save')|trans }}</button>
      {{ form_end(form) }}
    </div>
  </div>
</div>
