{% extends 'profile/profile_application_layout.html.twig' %}

{% block _content %}
  {% trans_default_domain 'ProfileApplication' %}

  <h1 class="page-header">
    {{ 'Create new application'|trans }}
  </h1>
  <a href="{{ path('profile_application_index') }}" class="btn btn-default">{{ 'Back to list'|trans }}</a>
  <hr>

  {{ include('profile/application/_form.html.twig') }}

{% endblock %}
